
/* 
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 200px 200px;
    background-color: lightgreen;
    gap: 10px;
}

.grid-container > div{
    font-size: 30px;
    background-color: pink;
} */

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 80px 200px;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  .item1{
    grid-area: 1 / 1 / span 1/ span 4;
  }

  .item2{
    grid-area: 2/ 1 / span 2/ span 2;
  }

