.navbarToggle {
    display: none;
}

.navbar{
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 16px;
}

.navBrand {
    display: flex;
    font-size: 26px;
    flex: 2;
    margin: 0 20px;
}

.navbarMenu {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.navbarMenu > li{
    list-style: none;
    cursor: pointer;
    margin: 0 20px;
}


@media(max-width : 800px){
    .navbar{
        flex-direction: column;
        width: 100px;
        height: 100vh;
    }
    .navBrand{
        display: none;
    }
    .navbarMenu{
        flex-direction: column;
        padding: 0;
        justify-content: space-around;
      }

    .navbarToggle {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        justify-content: space-between;
    }

    .navbarToggle .bar{
        width: 20px;
        color: white;
        border: 1px solid #fff;
        padding: 3px;
    }

    .hidden{
        display: none;
    }
    .navbar.close{
        height: 5vh;
    }
}
